@import "_fonts.sass"
@import "_colors.sass"

  
html,
body 
	position: relative
	width: 100%
	height: 100%
	font-family: 'GothamPro'
	max-width: 1920px
	min-width: 320px
	
html 
	font-size: 55px
	margin: 0
	padding: 0
	line-height: 1

.grid
	width: 100%
	display: grid
	grid-template-columns: 150px repeat(2, 1fr)
	grid-template-rows: 41.8vw repeat(3,46vw) 90px
	max-width: 1920px
	min-width: 320px
	overflow: hidden
	background-color: #ffda2d

.header-col-1
	grid-row: 1 / 6
	height: 100%
	background-color: $menu-bg
	justify-self: center
	width: 100%
	z-index: 3
	
	
.menu
	position: fixed
	display: -webkit-flex
	display: -moz-flex
	display: flex
	flex-direction: column
	align-items: center
	height: 100%
	width: 150px
	position: fixed
	top: 0



.logo
	background-image: url('../img/logo.png')
	background-position: center
	background-repeat: no-repeat
	width: 100%
	height: 90px
	margin-top: 22px
	&_footer
		width: 69px
		height: 89px
		background-image: url('../img/footer_logo.jpg')
		background-size: 69px 89px
		float: left
		margin-left: 21px
		margin-top: 0
		padding: 0
.slogan
	font-family: GothamPro-Medium
	color: $text-active
	font-size: 16px
	text-align: center
	margin-top: 12px
	&_fs
		font-size: 0.4rem
	&_main-caption
		font-family: GothamPro-Black
		font-size: 1.8rem
		line-height: 1.8rem
		letter-spacing: 4px
	&_gallery
		color: #f73934
		font-size: 1rem
		font-family: GothamPro
		background-color: white
		display: inline-block
		padding: 0.18rem
		margin-left: -.18rem
		margin-top: 0
.menu
	
	&__items
		padding-top: 60px
		width: 100%
	
	&__item
		width: 100%
		height: 96px
		text-align: center
		border-top: 1px solid  #f6f6f6
		border-bottom: 1px solid  #f6f6f6
		transition: all 1s
		padding-top: 20px
		&:hover
			background-color: white	
			transition: background-color 1s ease 
			border-top: 1px solid #ddd
			border-bottom: 1px solid #ddd
			cursor: pointer

	&__item:nth-child(2)
		padding-bottom: 10px
		padding-top: 15px
	&__item:last-child
		padding-top: 25px
.text
	margin: 0 
	padding-top: 10px
	font-family: 'GothamPro'
	font-size: 14px
	color: #555
	text-align: center
	
	&_icons
		padding-top: 0.4rem
		font-size: 0.4rem
		line-height: 0.55rem
		color: #45370a
	&_about
		margin-top: 1.32rem
		font-size: .5rem
		line-height: .6rem
		width: 10.72rem
		color: white
		text-align: left
		padding-top: 0
	&_about-mobile
		margin-top: 3.32rem
		font-size: 1.5rem
		line-height: 2.1rem
		width: 20rem
		margin-left: 4rem
		color: white

	
#menu__check, .menu__mobile,.close, .line, .text_about-mobile, .caption_about-mobile
	display: none

.main-row-1
	grid-column: 2 / 4
	background-image: url('../img/main.jpg')
	background-size: cover
	background-repeat: no-repeat
	position: relative
	height: 100%
	&__caption
		color: #f73934
		margin-left: 1.73rem
		
		font-family: GothamPro-Light
		letter-spacing: 5px
	&__first
		font-family: GothamPro-Medium
		font-size: 2.18rem
		color: #f73934
		font-weight: 300
	&__middle
		font-size: 1.23rem
		line-height: 1rem
		letter-spacing: 3px
		font-weight: 100
	&__last
		font-size: 1.18rem
		font-weight: 100
		
.content-wrap
	display: flex
	flex-direction: column

.icons
	top: 0.55rem
	left: 1.22rem
	width: 17.8rem
	height: 6rem
	margin: 1.6rem 0 0 1.55rem
	&__wrap
		margin: 0 auto
		width: 4.1rem
		height: 100%
		float: left
	&__icon
		width: 2.75rem
		height: 2.75rem
		background-color: white
		background-size: 2.49rem 2.49rem
		background-position: center
		border-radius: 50%
		margin: 0 auto

.icon-1
	background-image: url('../img/photo.png')
	transition: all 0.4s cubic-bezier(0.25, 0.1, 0.38, 1.45) 1.6s
.icon-2
	background-image: url('../img/heart.png')
	transition: all 0.4s cubic-bezier(0.25, 0.1, 0.38, 1.45) 2.0s
.icon-3
	background-image: url('../img/box.png')
	transition: all 0.4s cubic-bezier(0.25, 0.1, 0.38, 1.45) 2.4s

.btn
	position: relative
	width: 5.5rem
	height: 1.58rem
	background-color: rgba(143,12,0,.1)
	text-align: center
	font-size: .57rem
	color: white
	letter-spacing: 1px
	line-height: 1.5rem
	cursor: pointer
	border: 2px solid white
	&:hover
		transition: all 2s ease
		background-color: #000
		opacity: 0.25
	&_gallery
		margin: .86rem 0 0 -.18rem
	&_about
		margin-top: 0.79rem
	&_lays
		margin: 1rem 5rem 0

.caption
	font-family: GothamPro-Bold
	color: #000
	font-size: .98rem
	line-height: 1.35rem
	&_about
		color: white
		margin-left: 5.29rem
		font-size: 1.36rem
		line-height: 1.43rem
	&_about-mobile
		margin-left: 4rem
		font-size: 3.55rem
		line-height: 3.75rem
	&_lays
		font-size: 1.5rem
		text-align: center
		margin: 10.71rem auto 0
		


.gallery-col-1
	grid-column: 2 / 3
	grid-row: 2 / 3
	background-image: url('../img/girl.jpg')
	background-size: cover
	background-repeat: no-repeat
	overflow: hidden
	&__content
		margin: 6.1rem 0 0 2.1rem
		position: relative
		&:after
			content: ''
			position: absolute
			width: 182px
			height: 236px
			background-image: url('../img/label_block.png')
			-moz-background-size: 182px 236px
			-o-background-size: 182px 236px
			background-size: 182px 236px
			top: -5.45rem
			left: .8rem
			background-size: 100% 100%
			width: 3.76rem
			height: 4.89rem
			
	
.gallery-col-2
	grid-column: 3 / 3
	grid-row: 2 / 3
	background-color: white

	&__photos
		width: 100%
		height: 100%
		display: flex
		flex-wrap: wrap
		margin-top: 0.1rem
		margin-left: 0.6rem
		align-content: center

	&__item
		margin-right: 6px
	&__img
		width: 4.7556rem
		height: 4.7556rem
		&:hover
			cursor: pointer


.about-col-1
	position: relative
	grid-row: 3 / 3
	grid-column: 2 / 2
	background-image: url('../img/about_bg.png')
	background-size: cover
	transform: translate3d(-2rem,0,0)
	opacity: 0
	z-index: 2
	&__content
		position: relative
		margin: 3.82rem 0 0 1.9rem
		color: white	

	&__content:before
		position: absolute
		content: ''
		background-image: url('../img/about_icon.png')
		background-repeat: no-repeat
		-moz-background-size: 100% 100%
		background-size: 100% 100%
		top: -1.5rem
		left: -.93rem
		width: 6rem
		height: 6.64rem
	&__content:after
		content: ''
		position: absolute
		background-image: url('../img/about_arrow.png')
		width: 1.54rem
		height: 3.57rem
		-moz-background-size: 100% 100%
		background-size: 100% 100%
		right: -1.5rem
		top: 50%
		margin-top: -4.29rem
		


	
	
.animate
	position: relative
	z-index: 1
	width: 100%
	height: 100%
	background-size: cover
	transition: transform 10s ease
	&:hover
		transform: scale(1.1)
		transition: transform 10s ease
	
.about-col-2
	grid-row: 3 / 3
	grid-column: 3 / 3
	overflow: hidden
	transform: translate3d(2rem, 0, 0)
	opacity: 0
	&__bg-img
		background-image: url('../img/about_bgimg.jpg')
		
		
.lays-col-1
	grid-row: 4 / 4
	grid-column: 2 / 2
	background-image: url('../img/peoples.jpg')
	background-size: cover
	overflow: hidden
	transform: translate3d(-2rem , 0 ,0)
	opacity: 0
	&__bg-img
		background-image: url('../img/peoples.jpg')
.lays-col-2
	grid-row: 4 / 4
	grid-column: 3 / 3
	background-image: url('../img/map.jpg')
	background-size: cover
	transform: translate3d(2rem, 0 , 0)
	opacity: 0
	&__content
		position: relative
			
	&__content:after
		content: ''
		position: absolute
		background-image: url('../img/map_arrow.png')
		-moz-background-size: 47px 108px
		-o-background-size: 47px 108px
		background-size: 47px 108px
		width: 1.66rem
		height: 3.86rem
		-moz-background-size: 100% 100%
		-o-background-size: 100% 100%
		background-size: 100% 100%
		left: -1.6rem
		top: 30%
		margin-top: -5.6rem
.scroll-animate
	transform: translate3d(0,0,0)
	opacity: 1
	transition: opacity 1s, transform 1s ease
.copyright
	font-family: Arial,Helvetica,sans-serif
	color: #b4b4b4
	font-size: 12px
	line-height: 95px
	margin-left: 6px
	float: left
.row-5
	grid-row: 5 / 5
	grid-column: 2 / 4
	background-color: #3c3c3c
	&__socials
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
	&__link
		width: 90px
		height: 90px
		cursor: pointer
		background-position: center
		background-repeat: no-repeat
		background-size: 52px 49px
		opacity: .85
		-webkit-transition: opacity .3s ease
		-moz-transition: opacity .3s ease
		-o-transition: opacity .3s ease
		transition: opacity .3s ease
		&:hover
			opacity: 1
.fb
	background-image: url('../img/footerfull_icon1.jpg')
	background-color: #326aa2
.vk
	background-image: url('../img/footerfull_icon2.jpg')
	background-color: #3479a8
.ls
	background-image: url('../img/footerfull_icon3.jpg')
	background-color: #edbf11
.yt
	background-image: url('../img/footerfull_icon4.jpg')
	background-color: #c4070e

@media (max-width:680px)

	html
		font-size: 17px
	.grid
		display: grid
		grid-template-columns: 100%
		grid-template-rows: 80px 69.5rem repeat(6, 100vw) 42px
		overflow: hidden
		grid-template-areas: "header" "main" "gallery-col-1" "gallery-col-2" "about-col-1" "about-col-2" "lays-col-2" "lays-col-1" "row-5"
	.header-col-1
		grid-area: header
		grid-column: 1 / 1
		grid-row: 1 / 1 
		cursor: pointer
	
	.menu
		flex-direction: row
		height: 80px
		width: 100%
		background-image: none
		justify-content: space-between
		background-color: #f6f6f6
	.logo
		width: 57px
		height: 50px
		background-image: url('../img/logo.png')
		background-size: 57px 50px
		background-repeat: no-repeat
		margin-left: 19px
		margin-top: 0
	.slogan
		font-size: 19.5px
		margin-right: 8px
		margin-top: 0
		&_main-caption
			font-size: 37px
			letter-spacing: 1px
			color: #d62b2b
			margin-right: 0
		&_fs
			font-size: 13px
			margin-right: 0
		&_gallery
			font-size: 2.6rem
			padding: 0 .7rem
			margin-left: -.58rem
			margin-top: 4px
			margin-right: 0
			letter-spacing: -.3px
	.down.menu
		top: -80px
		transition: top 0.5s
	.menu
		transition: top 0.5s
		&__items
			display: block
			position: absolute
			left: 0
			width: 100%
			height: 0
			top: 100%
			padding-top: 0
			transition: height .2s linear .5s
		&__item
			opacity: 0 
			position: relative
			height: 25%
			padding-top: 0
			background-color: #f6f6f6
			color: black
			border-top: 1px solid #ddd
			transform: translate3d(-50px, 0, 0)
			transition: transform (.5s ease, opacity .5s ease)
			&:nth-child(2)
				padding-bottom: 0
				transform: translate3d(50px, 0, 0)
			&:nth-child(3)
				padding-top: 0
				transform: translate3d(-50px, 0, 0)
			&:last-child
				padding-top: 0
			&.close
				transform: translate3d(50px, 0, 0)
				opacity: 0
				display: block
				color: #8e8d8d
				font-size: 0.4rem
				height: 20%
				letter-spacing: .2px
				background-color: #f0eded
				text-shadow: 1px 2px 2px white
			
		&__line
			display: block
			width: 32px
			height: 5px
			background: #fc202e
			transition: .2s ease-in-out
			transform-origin: left center
		&__mobile
			display: block
			margin-right: 25px
		&__pic
			position: absolute
			top: 20px
			left: 0
			margin-left: 28px
			height: 40px
			width: 40px
	
	
	.open .menu

		&__items
			z-index: 2
			height: 320px
			transition: none
		&__item
			opacity: 1
			transform: translate3d(0, 0, 0)
			&:nth-child(2)
				padding-bottom: 0
				padding-top: 0
			&:last-child
				padding-top: 0

			&.close
				opacity: 1	
				transform: translate3d(0, 0, 0)
	
	.text
		font-size: 14px
		margin: 0 auto 30px
		&_menu
			position: absolute
			left: 10px
			right: 0
			margin: 0
			bottom: 34px
		&_menu-last
			position: absolute
			left: 10px
			right: 0
			margin: 0
			bottom: 23px

		&_icons
			font-size: 13px
			padding-top: 11px
			line-height: 14px
			letter-spacing: -.1px 
		&_about
			display: none
		&_about-mobile
			display: block
			margin-top: 1.8rem
			font-size: 1.5rem
			line-height: 2.1rem
			width: 20rem
			margin-left: 4.3rem
			text-align: left

	.second
		opacity: 1
		margin-top: 5px
	.third
		margin-top: 5px
	.open .first
		transform: rotate(45deg) translate3d(-1px,-2px,0)
		transition: .2s ease-in-out
	
	.open .second
		opacity: 0
		transition: .2s ease-in-out
		

	.open .third
		transform: rotate(-44deg) translate3d(0,0,0)
		transition: .2s ease-in-out	

	.main-row-1
		grid-area: main
		background-image: url('../img/mobile/main_mobile.jpg')
		background-size: 100% 100%
		
		&__caption
			order: -1
			margin-top: 20px
			color: #d62b2b
			letter-spacing: 1px
		&__first
			font-size: 44px
			color: #d62b2b
		&__middle
			font-size: 25px
			line-height: 25px
			margin-right: 10px
			letter-spacing: 1px
		&__last
			font-size: 25px
			line-height: 37px

	.content-wrap
		align-items: center
	
	.icons
		width: 37rem
		margin: 20px 0 0 0
		&__wrap
			width: 9.7rem
			&:first-child
				width: 13.3rem
			&:last-child
				width: 13.7rem
		&__icon
			width: 64px
			height: 64px
			background-size: 64px 64px
		




	.btn
		width: 14rem
		height: 3.9rem
		font-size: 1.4rem
		letter-spacing: .4px
		
		background-color: rgba(168,5,0,.1)
		&_gallery
			bottom: 3.6rem
			margin: 0 0 0 50%
		&_about
			position: absolute
			left: 50%
			bottom: 6rem
			margin-left: -7rem
		&_lays
			margin-top: 16px
		&:hover
			transition: none
			background-color: rgba(168, 5, 0, 0.1)
			opacity: 1
		&:active
			outline: none
		&:focus
			outline: none
	.caption
		font-size: 2.5rem
		line-height: 3.5rem
		&_about
			display: none
		&_about-mobile
			display: block
			margin-left: 4rem
			font-size: 3.55rem
			line-height: 3.75rem
			color: white
		&_lays
			font-size: 3.7rem
			


	.gallery-col-1
		grid-area: gallery-col-1
		background-image: url('../img/mobile/gallery_block_mobile.png')
		background-size: 100% 100%
		background-color: white
		&__content
			margin: 18.6rem 0 0 4.29rem
		&__content:after
			background-image: url('../img/mobile/bg_gallery.png')
			background-size: contain
			background-repeat: no-repeat
			width: 16rem
			height: 16rem
			top: -14.6rem
			left: -1.3rem


	.gallery-col-2
		grid-area: gallery-col-2
		&__photos
			width: 100%
			height: 100%
			justify-content: end
			margin-left: 13px
			margin-top: 2px
		&__img
			width: 30vw
			height: 30vw
		&__item
			margin-right: 3px
    
	.about-col-1
		grid-area: about-col-1
		background-image: url('../img/mobile/about_block_mobile.png')
		background-color: #1963c2
		&__content
			position: static
			margin: 0
			padding-top: 5.2rem
			&:before
				display: none
			&:after
				display: none
	
	.about-col-2
		grid-area: about-col-2
		position: relative
		&__bg-img
			background-image: url('../img/mobile/about_img_mobile.jpg')
			background-position: center
			position: relative
		& .animate
			transform: none
			
			
		
	.lays-col-1
		grid-area: lays-col-1
		&__bg-img
			background-image: url('../img/mobile/lays_img_mobile.jpg')
	.lays-col-2
		grid-area: lays-col-2
		background-image: url('../img/mobile/lays_block_mobile2.png')
		background-color: #b1d6f1
		background-position: center
		&__content
			height: 85%
			display: flex
			flex-direction: column
			justify-content: flex-end
			align-items: center
		
	.logo_footer
		display: none			
	.row-5
		grid-area: row-5
		position: relative
		& .copyright
			margin-left: 29px
			font-size: 9px
			line-height: 42px
			letter-spacing: -.3px
			& .rules
				display: none
		
		&__link
			width: 45px
			height: 42px
			background-size: 52%
			&:hover
				opacity: 0.85


@media (max-width: 1024px) and (min-width: 681px)
	.grid 
		display: grid
		grid-template-columns: 110px repeat(2,1fr)
		grid-template-rows: 14.5em repeat(3, 15.9334em) 50px
	.menu
		width: 110px
	.logo_footer
		width: 42px
		height: 50px
		background-image: url('../img/footer_logo.jpg')
		background-size: 42px 50px

	.row-5__link
		width: 50px
		height: 50px
		background-size: 31px 32px
	.copyright
		font-size: 12px
		line-height: 50px

	


@media (max-width:1848px) 
	html
		font-size: 54px
  


@media (max-width:1816px) 
	html
		font-size: 53px
  


@media (max-width:1784px) 
	html
		font-size: 52px
  


@media (max-width:1752px) 
	html
		font-size: 51px
  


@media (max-width:1720px) 
	html
		font-size: 50px
  


@media (max-width:1688px) 
	html
		font-size: 49px
  


@media (max-width:1656px) 
	html
		font-size: 48px
  


@media (max-width:1624px) 
	html
		font-size: 47px
  


@media (max-width:1592px) 
	html
		font-size: 46px
  


@media (max-width:1560px) 
	html
		font-size: 45px
  


@media (max-width:1528px) 
	html
		font-size: 44px
  


@media (max-width:1496px) 
	html
		font-size: 43px
  


@media (max-width:1464px) 
	html
		font-size: 42px
  


@media (max-width:1432px) 
	html
		font-size: 41px
  


@media (max-width:1400px) and (min-width: 1024px)
	html
		font-size: 40px
		.grid
			width: 100%
			display: grid
			grid-template-columns: 150px repeat(2, 1fr)
			grid-template-rows: 41.5vw repeat(3,45.5vw) 60px
			max-width: 1920px
			min-width: 320px
		.row-5 
			& .logo_footer
				width: 50px
				height: 60px
				background-image: url('../img/footer_logo1.jpg')
				background-size: 50px 60px
		.fb
			background-image: url('../img/footer_icon1.jpg')
			background-color: #326aa2
		.vk
			background-image: url('../img/footer_icon2.jpg')
			background-color: #3479a8
		.ls
			background-image: url('../img/footer_icon3.jpg')
			background-color: #edbf11
		.yt
			background-image: url('../img/footer_icon4.jpg')
			background-color: #c4070e

		.row-5__link
			width: 60px
			height: 60px
			background-size: 31px 32px
		.copyright
			font-size: 12px
			line-height: 65px
		

	

@media (max-width:1369px) 
	html
		font-size: 39px
  


@media (max-width:1338px) 
	html
		font-size: 38px
  


@media (max-width:1307px) 
	html
		font-size: 37px
  


@media (max-width:1276px) 
	html
		font-size: 36px
  


@media (max-width:1245px) 
	html
		font-size: 35px
  


@media (max-width:1213px)
	html
		font-size: 34px
 

@media (max-width:1181px) 
	html
		font-size: 33px
 

@media (max-width:1149px)
	html
		font-size: 32px
 

@media (max-width:1117px)
	html
		font-size: 31px
 

@media (max-width:1085px)
	html
		font-size: 30px
 

@media (max-width:1053px)
	html
		font-size: 29px
 

@media (max-width:1030px) 
	html
		font-size: 28px
 

@media (max-width:998px) 
	html
		font-size: 27px
 

@media (max-width:966px) 
	html
		font-size: 26px
 

@media (max-width:934px) 
	html
		font-size: 25px


@media (max-width:902px)
	html
		font-size: 24px
 

@media (max-width:870px)
	html
		font-size: 23px
 

@media (max-width:838px)
	html
		font-size: 22px

@media (max-width:806px)
	html
		font-size: 21px

@media (max-width:774px)
	html
		font-size: 20px

@media (max-width:742px)
	html
		font-size: 19px

@media (max-width:710px)
	html 
		font-size: 18px
@media (max-width:678px)
	html 
		font-size: 17px
  
@media (max-width:646px) 
	html
		font-size: 16px
  
@media (max-width:614px) 
	html
		font-size: 15px
  

@media (max-width:582px)
	html
		font-size: 14px

@media (max-width:550px)
	html
		font-size: 13px

@media (max-width:518px)
	html
		font-size: 12px

@media (max-width:486px)
	html
		font-size: 11px
	

@media (max-width:454px)
	html
		font-size: 10px


@media (max-width:422px)
	html
		font-size: 9px


@media (max-width:390px)
	html
		font-size: 8px




 
